@charset 'utf-8';


/*서브페이지 공통  스타일*/
.allHours .contTit h2  {  
  text-align:center; background:#ffe2e4 ;
  font-size: 24px; height: 80px; line-height: 80px; 
  margin-bottom: 0;
}

.allHours .listBox
{ text-align: center; margin: 0 auto;}

.allHours .listBox ul {
  background: #fff; overflow: hidden;
  margin-bottom: 0;
}

.allHours .listBox li { 
  display: inline; float: left;
  width: 50%; 
  text-align: center; margin: 0 auto;
}
.allHours .medicalInfo {
  background: #ffffdd ;
  width: 100%;
  border-radius: 15px; 
  border: 2px #ffe2e4 solid;
  font-size: 16px;
  height: 410px;
}

.allHours .medicalInfo img { height: 160px; width: 200px;;padding: 15px 0;}
.allHours .medicalInfo h4 { font-size: 18px; font-weight: 600; text-indent: 0.7;}
.allHours .medicalInfo p {margin: 5px;}