@charset 'utf-8';


/*서브페이지 공통  스타일*/
.onlyCat .contTit h2  {  
  text-align:center; background:#ffd200 ;
  font-size: 24px; height: 80px; line-height: 80px; 
  margin-bottom: 0;
}

.onlyCat .listBox
{ text-align: center; margin: 0 auto;}

.onlyCat .listBox ul {
  background: #fff; overflow: hidden;
  margin-bottom: 0;
}

.onlyCat .listBox li { 
  display: block; 
  width: 50%; 
  text-align: center; margin: 0 auto;
}
.onlyCat .medicalInfo {
  background:#f7f7f7;
  width: 100%;
  border-radius: 15px; 
  border: 2px #ffd200 solid;
  font-size: 16px;
  height: 410px;
}

.onlyCat .medicalInfo img { width: 90%; padding: 15px 0; height: 200px ;}
.onlyCat .medicalInfo h4 { font-size: 24px; font-weight: 600;}
.onlyCat .medicalInfo p {margin: 5px;}