@charset 'utf-8';

.joinPage {
  background: seashell;
}

.joinPage .contTit  {
  background: seashell;
  height: 80px; 
  text-align: center; font-size: 20px; 
  border-bottom: 1px solid #666;
}  
.joinPage .contTit h2{
  line-height: 80px;
  font-size: 24PX
}

.joinPage .wrapper_joinBox {
  padding: 30px;
  margin: 0 auto;
}
.joinPage .wrapper_joinBox .joinBox {
  width: 80%; /* height: 500px; */
  margin: 30px auto;
  padding: 70px 20px;
  background: #fff;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #0ff;
  text-align: left;
  overflow-y: auto;
}

.joinPage .wrapper_joinBox .joinBox label {
  width: 90px; height: 30px; 
  margin-right: 10px; 
}
.joinPage .wrapper_joinBox .joinBox input {
  width: 120px; height:30px;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  margin: 0 5px;
}
.joinPage .wrapper_joinBox .joinBox select {
  width: 100px; height:30px;
  background: #f0f0f0;
  border-radius: 4px;
}

.joinPage .wrapper_joinBox .btnBox {
  margin: 20px auto;
  text-align: center;
}
.joinPage .wrapper_joinBox button {
 padding:0 10px;
 height: 30px;
 margin-top: 10px;
 border-radius: 5px;
 background: seashell;
 border: 1.5px solid silver;
}

.joinPage .wrapper_joinBox button:hover {
  color: #fff;
  background: #999;
}