@charset 'utf-8';

.loginPage {
  background: #eee;
}

.loginPage .contTit  {
  background: #eee;
  height: 80px; 
  text-align: center; font-size: 20px; 
  border-bottom: 1px solid #666;
}  
.loginPage .contTit h2{
  line-height: 80px;
  font-size: 24PX
}

.loginPage .wrapper_loginBox {
  padding: 30px;
}
.loginPage .wrapper_loginBox .loginBox {
  width: 80%; height: 300px;
  margin: 30px auto;
  padding: 70px 20px;
  background: #fff;
  text-align: center;
  border-radius: 15px;
}
.loginPage .wrapper_loginBox .loginBox label {
  width: 90px; height: 30px; 
  margin-right: 10px;
}
.loginPage .wrapper_loginBox .loginBox input {
  background: seashell;
  border-radius: 4px;
  text-align: center;
}

.loginPage .wrapper_loginBox button {
 padding: 2px 15px;
 margin-top: 10px;
 border-radius: 5px;
 background: #eee;
 border: 1.5px solid silver;
}

.loginPage .wrapper_loginBox button:hover {
  color: #fff;
  background: #999;
}